**EXAMEN 1**


**ANALISIS DE ROTACION DE CLIENTES EN TELECOMUNICACIONES**

In [1]:
# Usamos la biblioteca google para poder usar archivos en nuestro drive.
from google.colab import drive
# Este comando conecta colab con drive.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importamos librerias de analisis y visualizacion para desarrollo del trabajo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importamos la base de datos desde un CSV alojado en drive (se debe cambiar la ruta segun corresponda).
path = "/content/drive/MyDrive/Bases de datos ejercicios Pandas/WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(path)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**1 - LIMPIEZA DE DATOS**

Identificar y solucionar cualquier valor duplicado.

In [6]:
# Identificar filas duplicadas
duplicados = df.duplicated()
duplicados.sum()

np.int64(0)

In [7]:
# Eliminar Duplicados
df = df.drop_duplicates()

**1 - EXPLORACION INICIAL**

Ultimas 5 Filas

In [ ]:
df.tail(5)

,ID_Venta,Fecha,Hora,Sucursal,Nombre_Producto,Categoría_Producto,Tamaño,Cantidad,Precio_Unitario,Total_Venta,...,Método_de_Pago,Cliente_Miembro,Descuento_Miembro,Promoción_Aplicada,Empleado_Atendió,Turno,Demora_Preparación_Min,Satisfacción_Cliente,Stock_Antes,Stock_Después
4995,VTA04996,2025-03-06,08:07,Avenida Colón 608,Fosforito de Jamón y Queso,Sándwiches,NaN,2,1694.30,3388.60,...,App,Sí,0,Happy Hour,Julián,Noche,10.9,2,41,39
4996,VTA04997,2025-01-17,17:46,Avenida Colón 608,Moneda de Chocolate,Snacks,NaN,2,1106.72,2213.44,...,Tarjeta,Sí,10,Ninguna,Camila,Mañana,4.7,4,26,24
4997,VTA04998,2025-02-06,10:18,"San Lorenzo 25, Nueva Córdoba",Croissant de Manteca,Bakery,NaN,2,1430.26,2860.52,...,Tarjeta,No,0,Ninguna,Marcos,Mañana,11.6,1,30,28
4998,VTA04999,2025-03-12,11:10,Córdoba Shopping,Wrap de Pollo y Vegetales,Sándwiches,NaN,5,1524.23,7621.15,...,Tarjeta,No,0,Happy Hour,Florencia,Mañana,6.0,1,17,12
4999,VTA05000,2025-03-08,15:54,Avenida Colón 608,Latte Helado,Bebida Espresso Helada,Venti,5,1648.32,8241.60,...,Efectivo,No,0,2x1,Florencia,Tarde,13.7,5,39,34

Informacion General

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_Venta                5000 non-null   object
 1   Fecha                   5000 non-null   object
 2   Hora                    5000 non-null   object
 3   Sucursal                5000 non-null   object
 4   Nombre_Producto         5000 non-null   object
 5   Categoría_Producto      5000 non-null   object
 6   Tamaño                  1370 non-null   object
 7   Cantidad                5000 non-null   int64
 8   Precio_Unitario         5000 non-null   float64
 9   Total_Venta             5000 non-null   float64
 10  Método_de_Compra        5000 non-null   object
 11  Método_de_Pago          5000 non-null   object
 12  Cliente_Miembro         5000 non-null   object
 13  Descuento_Miembro       5000 non-null   int64
 14  Promoción_Aplicada      5000 non-null   object
 15  Empleado_Atendió        5000 non-null   object
 16  Turno                   5000 non-null   object
 17  Demora_Preparación_Min  5000 non-null   float64
 18  Satisfacción_Cliente    5000 non-null   int64
 19  Stock_Antes             5000 non-null   int64
 20  Stock_Después           5000 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 820.4+ KB

Estadisticas Descriptivas

In [ ]:
df.describe()

,Cantidad,Precio_Unitario,Total_Venta,Descuento_Miembro,Demora_Preparación_Min,Satisfacción_Cliente,Stock_Antes,Stock_Después
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000
mean,3.011400,1714.820846,5164.754816,3.975000,8.556100,3.026200,30.063400,27.05200
std,1.408711,589.977455,3134.045076,5.992625,3.759198,1.403819,11.769583,11.84379
min,1.000000,700.010000,702.910000,0.000000,2.000000,1.000000,10.000000,5.00000
25%,2.000000,1305.762500,2753.022500,0.000000,5.300000,2.000000,20.000000,17.00000
50%,3.000000,1605.345000,4709.985000,0.000000,8.600000,3.000000,30.000000,27.00000
75%,4.000000,1955.030000,6842.787500,10.000000,11.800000,4.000000,40.000000,37.00000
max,5.000000,3498.880000,17377.250000,15.000000,15.000000,5.000000,50.000000,49.00000

**2 - LIMPIEZA DE DATOS**

Identifica y maneja los datos faltantes utilizando técnicas apropiadas (relleno con valores estadísticos, interpolación, eliminación, etc.).

In [ ]:
# Valores nulos por columna
df.isnull().sum()

ID_Venta                     0
Fecha                        0
Hora                         0
Sucursal                     0
Nombre_Producto              0
Categoría_Producto           0
Tamaño                    3630
Cantidad                     0
Precio_Unitario              0
Total_Venta                  0
Método_de_Compra             0
Método_de_Pago               0
Cliente_Miembro              0
Descuento_Miembro            0
Promoción_Aplicada           0
Empleado_Atendió             0
Turno                        0
Demora_Preparación_Min       0
Satisfacción_Cliente         0
Stock_Antes                  0
Stock_Después                0
dtype: int64

Corrige los tipos de datos si es necesario (por ejemplo, convertir cadenas a fechas).

In [ ]:
# Rellenar valores faltantes en 'Tamaño' con 'No aplica'
df['Tamaño'].fillna('No aplica', inplace=True)

Convertir fecha y hora

In [ ]:
# Convertir a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])
df['Hora'] = pd.to_datetime(df['Hora'], format='%H:%M').dt.time

Elimina duplicados si los hay

In [ ]:
df.drop_duplicates(inplace=True)

**3 - TRANSFORMACION DE DATOS**

Crea nuevas columnas basadas en operaciones con las columnas existentes (por ejemplo, calcular ingresos a partir de ventas y precios).

In [ ]:
# Crear columna de validación del total: ingreso calculado vs Total_Venta
df['Ingreso_Calculado'] = df['Cantidad'] * df['Precio_Unitario']
df['Diferencia_Venta'] = np.round(df['Ingreso_Calculado'] - df['Total_Venta'], 2)

Clasifica los datos en categorías relevantes.

In [ ]:
# Clasificar satisfacción en categorías
df['Nivel_Satisfacción'] = df['Satisfacción_Cliente'].apply(lambda x: 'Alta' if x >= 4 else 'Media' if x == 3 else 'Baja')

**4 - ANALISIS DE DATOS**

Realiza agrupaciones de datos utilizando groupby para obtener insights específicos (por ejemplo, ventas por producto, ventas por región, etc.).

In [ ]:
# Ventas totales por categoría de producto
df.groupby('Categoría_Producto')['Total_Venta'].sum().sort_values(ascending=False)

Categoría_Producto
Merchandising               4053532.43
Café en Granos              3514685.24
Té                          2673354.83
Frappuccino                 2471910.08
Bebida Espresso Helada      2194300.75
Sándwiches                  2168664.85
Bebida Espresso Caliente    2003173.66
Té Caliente                 1968928.02
Té Helado                   1725309.43
Bakery                      1692109.62
Snacks                      1357805.17
Name: Total_Venta, dtype: float64

Aplica funciones de agregación como sum, mean, count, min, max, std, y var.

In [ ]:
# Ventas totales por categoría de producto
df.groupby('Categoría_Producto')['Total_Venta'].mean().sort_values(ascending=False)

Categoría_Producto
Merchandising               9170.887851
Café en Granos              7657.266318
Té                          5557.910249
Frappuccino                 5397.183581
Sándwiches                  5200.635132
Bebida Espresso Helada      4908.950224
Bebida Espresso Caliente    4307.900344
Té Helado                   4157.372120
Té Caliente                 3961.625795
Bakery                      3569.851519
Snacks                      3051.247573
Name: Total_Venta, dtype: float64

In [ ]:
# Conteo de ventas por sucursal (descendente)
df.groupby('Categoría_Producto')['Total_Venta'].count().sort_values(ascending=False)

Categoría_Producto
Té Caliente                 497
Té                          481
Bakery                      474
Bebida Espresso Caliente    465
Café en Granos              459
Frappuccino                 458
Bebida Espresso Helada      447
Snacks                      445
Merchandising               442
Sándwiches                  417
Té Helado                   415
Name: Total_Venta, dtype: int64

In [ ]:
# Minimo de ventas por categoria
df.groupby('Categoría_Producto')['Total_Venta'].min().sort_values(ascending=False)

Turno
Mañana    4967
Noche     5016
Tarde     5074
Name: Cantidad, dtype: int64

In [ ]:
# Maximo de ventas por categoria
df.groupby('Categoría_Producto')['Total_Venta'].max().sort_values(ascending=False)

In [ ]:
# desviacion estandar por categoria
df.groupby('Categoría_Producto')['Total_Venta'].std().sort_values(ascending=False)

Categoría_Producto
Merchandising               4401.314120
Café en Granos              3700.420409
Frappuccino                 2619.151205
Té                          2615.444653
Sándwiches                  2551.438767
Bebida Espresso Helada      2248.947814
Té Helado                   2109.557317
Bebida Espresso Caliente    2080.806021
Té Caliente                 1893.194216
Bakery                      1813.096846
Snacks                      1478.864947
Name: Total_Venta, dtype: float64

In [ ]:
# Varianza por categoria
df.groupby('Categoría_Producto')['Total_Venta'].var().sort_values(ascending=False)

Categoría_Producto
Merchandising               1.937157e+07
Café en Granos              1.369311e+07
Frappuccino                 6.859953e+06
Té                          6.840551e+06
Sándwiches                  6.509840e+06
Bebida Espresso Helada      5.057766e+06
Té Helado                   4.450232e+06
Bebida Espresso Caliente    4.329754e+06
Té Caliente                 3.584184e+06
Bakery                      3.287320e+06
Snacks                      2.187042e+06
Name: Total_Venta, dtype: float64

Utiliza el método apply para realizar operaciones más complejas y personalizadas

In [ ]:
# Operación personalizada con apply: % de descuento aplicado en valor
df['Descuento_Valor'] = df.apply(lambda row: (row['Descuento_Miembro'] / 100) * row['Precio_Unitario'] * row['Cantidad'], axis=1)
df[['ID_Venta', 'Descuento_Valor']].head()

   ID_Venta  Descuento_Valor
0  VTA00001          983.361
1  VTA00002          163.018
2  VTA00003            0.000
3  VTA00004         1115.365
4  VTA00005            0.000